.main {
  text-align: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* .description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
} */

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin-top: 3rem;
}

.label {
  display: flex;
  flex-direction: column;
}

.AppwriteContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}


